<section class="faq-block">
    <span class="anchor" id="faq"></span>

    <h2>Часто задаваемые вопросы</h2>

    <div class="questions">

        <div class="question">
            <p><b>С какими операционными системами работает Vision AIO?</b></p>
            <span class="hr"></span>
            <p>В настоящее время поддерживается только Windows 10</p>
        </div>

        <div class="question">
            <p><b>Сколько стоит лицензия Vision AIO?</b></p>
            <span class="hr"></span>
            <p>Копия бота стоит 5000 ₽ за первый месяц, далее 1000 ₽ в месяц</p>
        </div>

        <div class="question">
            <p><b>Можно ли отменить подписку?</b></p>
            <span class="hr"></span>
            <p>Если вас не устроит Vision AIO, отменить подписку можно в любое время</p>
        </div>
        
        <div class="question">
            <p><b>Будет ли Vision AIO поддерживать в будущем другие сайты?</b></p>
            <span class="hr"></span>
            <p>Да, мы постоянно развиваем наш проект и добавляем новые функции</p>
        </div>

    </div>

</section>