<header>
    
    <div class="info">

        <div class="description">
            <h1 class="bot-name">
                Vision AIO
            </h1>
        
            <p>
                Программное обеспечение <br>
                для автоматизации покупок <br>
                в интернет-магазинах
            </p>
        </div>
    
        <button class="buy">
            Sold out
        </button>

    </div>

    <div class="background">
        <img src="/assets/img/header/header-laptop.webp" alt="application" (load)="hideSpinner()">
    </div>

</header>