<section class="supported-sites" >

    <span class="anchor" id="sites"></span>

    <h2>Поддерживаемые сайты</h2>

    <div class="sites">
        <div class="site">
            <img src="/assets/img/sites/snkrs.svg" alt="nike snkrs">
        </div>
        <div class="site">
            <img src="/assets/img/sites/brandshop.svg" alt="Brandshop">
        </div>
        <div class="site">
            <img src="/assets/img/sites/streetbeat.svg" alt="StreetBeat">
        </div>
        <div class="site">
            <img class="" src="/assets/img/sites/ozon.svg" alt="Ozon">
        </div>
        <div class="site">
            <img src="/assets/img/sites/tsum.svg" alt="TSUM">
        </div>
        <div class="site">
            <p>Больше сайтов<br>в разработке</p>
            <img src="/assets/img/sites/loader.svg">
        </div>
    </div>

</section>