.grayscale{
    filter: grayscale(100%);
}

.sites{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    height: 100%;

    grid-template-rows: 1fr 1fr;
}

.site{
    background-color: #F5F5F5;
    border-radius: 10px;

    display: grid;
    place-content: center;
    place-items: center;

    row-gap: 10%;

    padding: 15% 20%;

    color: black;
    font-weight: 600;
    text-align: center;
    transition: .1s linear;

    cursor: pointer;
}

.site p{
    color: #000000;
}

.site:hover{
    transform: scale(1.1);
}

.site img{
    max-height: 90%;
    max-width: 100%;
}

.site:nth-child(4) img{
    width: 100%;
}


.site p{
    font-size: 22px;
    line-height: 22px;
}
.site:last-child img{
    max-height: 40%;
}

@media screen and ( max-width: 1000px ){
    .site p{
        font-size: 19px;
        line-height: 19px;
    }
}

@media screen and ( max-width: 900px ){
    .sites{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .site{
        padding: 10% 15%;
    }


}

@media screen and ( max-width: 670px ){
    .site{
        padding: 10% 10%; 
        border-radius: 15px;
    }

    .site p{
        font-size: 14px;
        line-height: 15px;
    }
}