<section class="partners-block">

    <span class="anchor" id="partners"></span>

    <h2>Наши партнёры</h2>

    <div class="partners">

        <div class="partner vision-lab">
            <div class="img" alt="vision-lab">

            </div>
            <!-- <img src="/assets/img/partners/vision-lab.webp" alt="VisionLab"> -->
            <div class="description">
                <h3>Vision lab</h3>
                <p>Кук-группа<br>от создателей<br> Vision AIO</p>
            </div>
        </div>

        <span class="empty"></span>

        <span class="empty"></span>

        <div class="partner">
            <img src="/assets/img/partners/cactus-web.webp" alt="CactusWeb">
            <h3>Cactus<br>Web</h3>
        </div>

        <div class="partner">
            <img src="/assets/img/partners/drop-top.webp" alt="DropTop">
            <h3>Drop<br>Top</h3>
        </div>

        <div class="partner">
            <img src="/assets/img/partners/cop-alerts.webp" alt="CopAlerts">
            <h3>Cop<br>Alerts</h3>
        </div>

    </div>

</section>